# =====================
# Python/Django
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Django stuff:
*.pot
*.pyc
*.pyo
*.pyd
*.coverage
*.mo
*.db
*.sqlite3
*.log

# Media files
media/
staticfiles/
static/

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py

# Environment variables
.env
.env.* 

# Virtual environment
.venv/

# =====================
# VSCode
# =====================
.vscode/

# =====================
# PyCharm
# =====================
.idea/

# =====================
# macOS
# =====================
.DS_Store

# =====================
# Node/React (if frontend inside project)
# =====================
frontend/node_modules/
frontend/build/
frontend/dist/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# Others
# =====================
*.swp
*.swo
*.bak
*.tmp


# =====================
# React-JS
# =====================
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist.zip
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
